body {
    padding: 20px;
}

div#maincolumn {
    float: left;
    width: 75%;
    border: 1px solid gray;
    padding: 1em;
    margin-bottom: 1em;
}

div#sidebar {
    float: right;
    width: 20%;
    padding: 0;
}

div#sidebar h2 {
    margin-bottom: 0;
}

h4 {
    margin-left: 1em;
}

div#sidebar ul {
    margin-top: 0;
    margin-left: 0;
    padding-left: 1em;
}

div#sidebar li {
    list-style: none;
}

p.sitename {
    margin: 0.4em 0;
    padding: 0.4ex;
    font-size: 250%;
}

p.sitename a {
    text-decoration: none;
}

p#sidebarctrl {
    text-align: right;
}

form#searchbar p {
    text-align: right;
    width: 180px;
}

form#searchbar input#q {
    width: 100%;
}

p.date {
    text-align: right;
}

a:hover {
    color: #000;
    background-color: #aaf;
}

div#maincolumn h1 {
    margin-top: 0;
}

dd {
    margin-bottom: 1em;
}

table {
    border-collapse: collapse;
}

td {
    border: 1px solid #ccc;
    padding: 5px;
}
