@import "common.css";
@import "pc.css";

body {
    overflow: scroll;
}

div#maincolumn {
    border: none;
    width: 100%;
}

div#maincolumn p {
    margin: 1em 20%;
}

div#maincolumn table {
    margin-left: 30%;
}

div#maincolumn ul, div#maincolumn dl {
    margin: 1em 30%;
}

div#maincolumn ul.navi {
    margin: 1em 10%;
}

div#sidebar {
    width: 20%;
    display: none;
}

div.menupanel {
    margin: 1em;
    border: solid 1px black;
}

form#search {
    text-align: center;
    margin-bottom: 2em;
}

ul.navi {
    margin: 0;
    padding: 0;
    text-align: center;
}

ul.navi li {
    display: inline;
    padding: 0 1ex;
}

p#search, p#banners{
    text-align: center;
    margin-bottom: 2em;
}

ul.news li {
    list-style: none;
}
