RewriteEngine on

RewriteRule ^tutorial/ https://github.com/shingetsu/docs/blob/master/tutorial.md [R=302,L]
RewriteRule ^wiki/ https://github.com/shingetsu/docs/blob/master/README.md [R=302,L]
RewriteRule ^svn/  https://github.com/shingetsu  [R=301,L]
RewriteRule ^sakuex/    http://shingetsu.info/saku/ [R=301,L]
