@import "common.css";

h1 {
    text-align: center;
    background-color: #efefef;
}

address {
    text-align: center;
    margin-bottom: 1em;
}

div.adsfoot {
    margin: 0;
    text-align: center;
}

p.logo {
    text-align: center;
}

img.logo {
    background-color: #88f;
}
