@import "common.css";
@import "pc.css";

h1 {
    background-color: #fff;
}

p#sidebarctrl {
    margin-bottom: 0;
}

div#maincolumn {
    border: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

div#sidebar {
    width: 20%;
    display: none;
}

div#maincolumn p {
    margin-left: 3em;
}

p#search {
    text-align: center;
    margin-bottom: 2em;
}

ul.news li {
    list-style: none;
}
